<!DOCTYPE html>
<html>
<head>
  <title>HealthDataOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "http://code.highcharts.com/highcharts.js", "chartkick" %>
  <%= csrf_meta_tags %>
  <!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
</head>
<body>

<%= yield %>

</body>

</html>
